
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

h2.fw-bold {
  text-align: center;
  width: 100%;
  font-size: 2.8rem;
  margin-bottom: 2.5rem;
}

.d-flex.flex-wrap.gap-3 {
  justify-content: center;
  width: 100%;
  margin-top: 2.5rem;
  gap: 2.5rem !important;
}

.btn.btn-outline-primary {
  font-size: 1.5rem;
  padding: 1rem 2.5rem;
}

.btn-link {
  font-size: 1.2rem;
}

